*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    padding: 50px;
}
li{
    margin-top: 5px;
    font-size: 18px;
}
.barrato {
    text-decoration: line-through;
}
i{
    margin-left: 20px;
    cursor: pointer;
}