*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    padding: 50px;
}
li{
    margin-top: 5px;
    font-size: 18px;
}
.barrato {
    text-decoration: line-through;
}
i{
    margin-left: 20px;
    cursor: pointer;
}
input {
    margin-top: 30px;
    padding: 10px;
}
button{
    margin: 30px 20px;
    padding: 13px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}